.dub
docs.json
__dummy.html
docs/
parin.so
parin.dylib
parin.dll
parin.a
parin.lib
parin-test-*
parin_*
*.exe
*.pdb
*.o
*.obj
*.lst
lib*
dub.selections.json
.temp
!scripts/parin_helpers/*
!scripts/parin_helpers
