name: D

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dlang-community/setup-dlang@4c99aa991ce7d19dd3064de0a4f2f6b2f152e2d7
    - name: Test
      run: |
        dub run :setup -- vendor
        dub test --verbose
        ./scripts/parin_helpers/build_all_examples
  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dlang-community/setup-dlang@4c99aa991ce7d19dd3064de0a4f2f6b2f152e2d7
    - name: Test
      run: |
        dub run :setup -- vendor
        dub test --verbose
